/*4.2.e6*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
body{
  font-family: Roboto;
  background: #E6D5B9;

  font-style: normal;
}
.header{
  height: 158px;
  background-color: #4E3835;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #E6D5B9;
}
.container {
  padding: 50px 50px;    
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;

  flex-wrap: nowrap; /*так block-3 всегда будет справа и без подгонки по ширине*/
  text-align: center;
}
.left-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  max-width: 750px;
}

.img-1 {
  
  width: 280px;
  height: auto;
}
.img-2 {
  
  width: 280px;
  height: auto;
}
.img-3 {
  
  width: 280px;
  height: auto;
}
.block-1{
  padding: 29px 43px;
  display: flex;
  margin-bottom: 20px;
  
  border: 3px solid #4E3835;
  border-radius: 10px;
}
.block-2{
  padding: 29px 43px;
  display: flex;
  
  border: 3px solid #4E3835;
  border-radius: 10px; 
}
.block-3{
  padding: 29px 43px;
  
  border: 3px solid #4E3835;
  border-radius: 10px;
  max-width: 367px;
  margin-left: 89px;
}

.margin-top{
  margin-top: 39px;
}
.margin-left{
  margin-left: 50px;
}
.margin-right{
  margin-right: 50px;
}
.block-title{
  margin-bottom: 26px;
  
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #4E3835;
  text-decoration: none;
} 

.block-description{
  
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4E3835;
}
/*применение свойства только для элемента, подходящего под обы тега:*/
.block-1 .block-description {text-align: left;}
.block-2 .block-description {text-align: left;}

.block-title:hover{
  color: crimson;
  text-shadow: 0px 0px 10px crimson,
               30px -30px 2px black;
               transition: 0.5s;}

/*4.2.e5
*{
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  font-family: Roboto;
  background: #E6D5B9;
}
img{
  width: 100%;
  height: 200px;
}
.header{
  height: 158px;
  background-color: #4E3835;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #E6D5B9;
  padding: 16px 25px;
  border: 3px solid #E6D5B9;
  border-radius: 10px;
}
.container {
  padding: 50px 150px;    
  display: flex;
  justify-content: space-between;
}
.block{
  width: 290px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #4E3835;
  border-radius: 10px;
  text-align: center;
  color: #4E3835;
}
.block-title{
  margin: 20px auto;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}
.block-description{
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;  
}
.element{
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 5px solid red;
}
*/

/*4.2.e4
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto';
  font-style: normal;
  background: #E6D5B9;
}
img{
  max-width: 400px;
  height: auto;
}
.header{
  height: 155px;
  background-color: #4E3835;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #E6D5B9;
}
.container {
  padding: 50px 150px;
}
.block{
  display: flex;
}
.block-text-left{
  padding-left: 50px;
}
.block-text-right{
  padding-right: 50px;
}
.block-title{
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #4E3835;
}
.right{
  text-align: right;
}
.block-description{
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4E3835;
}
.line{
  width: 184px;
  height: 5px;
  background-color: #4E3835;
  margin: 50px auto;
}
*/

/*4.2.e3
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Roboto;
  background: #fffded;
}
.header{
  height: 155px;
  background-color: #4E3835;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #E6D5B9;
}
.container {
  width: 800px;
  margin: 100px auto;    
}
ul {
list-style: "\2615";
}
li {
  padding: 10px;
}
*/

/*4.2.e2
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Roboto;
  font-style: normal;
  background: #fffded;
}
.header-title{
  height: 155px;
  display: flex;
  align-items: center; /*положение по Y*
  justify-content:center; /*положениепо X*
  background-color: #4E3835;
}
.title {
  color: #E6D5B9;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.header-image {
  height: 777px;
  background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
  background-position: center;
  background-size: cover;
}
.join {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4E3835;
}
.join-title{
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #E6D5B9;
}
.join-text{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.email{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #E6D5B9;
  text-decoration: none;
}
*/

/*4.2.e1
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Roboto;
  font-style: normal;
  background: #fffded;
}
.container{
  margin: 0 150px;
}
.main-title{
  padding: 55px 0;
  color: #753C20;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}
.block {
  display: flex;
  margin-bottom: 55px;
}
img{
  width: 400px;
  height: 300px;
}
.block-text {
  margin: 0 55px;
}
.title {
  margin-bottom: 55px;
  color: #D89B82;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.text {
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
::first-letter{text-transform: uppercase;}

.join-title{
  margin-bottom: 34px;
  color: #E78326;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.join-text{
  margin-bottom: 55px;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.email{
  color: #E78326;
  text-decoration:none;
}
*/

/*4.1.e6
@font-face {
    font-family: shrift;/*любое удобное навание/
    font-style: normal;
    font-weight: normal;
    src: local(ReggaeOne-Regular),/*подгружает шрифты с компа, если они есть в системе/
    url(fonts/ReggaeOne-Regular.woff),/*подгружает шрифты из папки проекта, если их нет в системе/
    url(fonts/ReggaeOne-Regular.ttf);
}
@font-face {
    font-family: 'shrift2';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/RuslanDisplay-Regular.ttf'),
    url('fonts/RuslanDisplay-Regular.woff');
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 30px;
    overflow: hidden;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    position: relative;
}
td {font-family: 'Pacifico';}
th {font-family: 'shrift2';}

td:hover{
    background: #ff8052;
}
th:hover{
    color: #ffffff;
    background: black;
}
th:hover::first-letter{font-size: 30px; color: red;}
*/

/*4.1.e5
*{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Roboto;
  }
  .block{
    background: #d9e9e5;
    padding: 10px;
    margin: 20px;
  }
  .block:hover {
    background: #c4f2e7;
  }
  .title { 
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .title:hover {
    font-size: 30px;
  }
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }  
  */

/*4.1.e4
button:hover{background: ;}
*/

/*4.1.e3
#title{
    color: #230672;
    font-size: 24px;
}
p{
    font-size: 14px;
}
.name{
    color: #6d48d7;
}*/

/*4.1.e2
*{margin: 0; padding: 0;}
.container {
    background: url(https://images.unsplash.com/photo-1637085046560-43cc153c86e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: 300px 600px;
    width: 300px;
    height: 600px;
    background-position: 40% 10%;
    text-align: center;
}
#title{
    padding-top: 125px; /*смещаем текст вниз 125px /
    color: #e3d1b8;
    font-size: 40px;
}
p {
    padding-top: 80px; /*смещаем текст вниз 80px /
    color: #110301;
    font-size: 14px;
}*/